# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Contains the API key
config.yaml

# Output files
*.blend*
*.csv

# Output folders
/blosm_data
/output
/textures

# Blender installs
/blender-*


# Folder to add blender addons
/blender_addon
