{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "htmlWhitespaceSensitivity": "css",
  "bracketSameLine": false,
  "jsxSingleQuote": false,
  "arrowParens": "always",
  "trailingComma": "es5",
  "endOfLine": "lf"
}
